footer
	.scripts-area
	nav
		ul
			li
				a(href="/") Главная
			li.price
				a(href="#") Прайс
			li
				a(href="/contacts.html") Контакты
			li
				a(href="/assets/mintbarrier.pdf" target="_blank") Презентация
	p Mint barrier - выбор тех, кто следит за новинками на рынке товаров из сферы технологии отделки и выбирает самые эффективные, надежные, практичныи и современные решения