header
	a.logo(href="/")
		img.m(src="/assets/img/icons/m.svg" width="228" height="27")
		img.dsc(src="/assets/img/icons/dsc.svg" width="156" height="14")
	nav
		ul
			li
				a(href="/") Главная
			li.price
				a(href="#") Прайс
			li
				a(href="/contacts.html") Контакты
			li
				a(href="/assets/mintbarrier.pdf" target="_blank") Презентация
				
