section#main
	.box.intro.mt1
		picture
			source(srcset="/assets/img/intro.avif" type="image/avif")
			img.intro(src="/assets/img/intro.jpg" srcset="/assets/img/intro@2x.jpg 2x")
		.tiles(style="display: none")
			img(src="/assets/img/i1.jpg" width="111" height="111")
			img(src="/assets/img/i2.jpg" width="111" height="111")
			img(src="/assets/img/i3.jpg" width="111" height="111")
		.dsc
			h1 mint <font>barrier</font>
			h2 разделительная мембрана для плитки

			p Представляет собой тонкий слой материала, который <font>устанавливается между</font> облицовочной поверхностью и плиткой
			p <font>Актуальна</font> при укладке плитки <font>во влажных</font> помещениях

			button.order Заказать
	
	p.divider Mint barrier успешно решает следующие задачи: 
	
	.box.default.mb2
		.dsc
			h3 гидроизоляция
			h4 Предотвращает появление грибка, плесени, коррозии
			p При укладке плитки в помещениях <b>с повышенной влажностью</b>, таких как ванные комнаты, душевые кабины, сауны, бассейны, важно обеспечить надежную защиту от воды, чтобы избежать появления грибка, плесени, коррозии металлических элементов и т. д. <b>Гидроизоляция помогает</b> избежать этих проблем.
		.swiper
			.swiper-wrapper
				.swiper-slide
					img(src="/assets/img/g01.jpg" width="435" height="266" loading="lazy")
				.swiper-slide
					img(src="/assets/img/g02.jpg" width="435" height="266" loading="lazy")
			.swiper-pagination
	
	.box.default
		.dsc
			h3 предотвращение трещин
			h4 За счет нейтрализации напряжения между основанием и плиткой
			p MINT BARRIER не только защищает от проникновения воды, но и нейтрализует напряжения между основанием и плиткой, что предотвращает появление трещин и других дефектов на поверхности.
		img.d(src="/assets/img/t01.jpg" width="435" height="266" loading="lazy")
	
	p.divider Технология работы с изоляционным полотном:
	
	.box.default.mb2.sequence
		.dsc
			h3 Последовательность действий
			p Процесс установки гидроизоляционной мембраны начинается с подготовки поверхности стены и пола. Поверхность должна быть чистой, сухой и ровной. Приклеивание мембраны происходит внахлест, область перекрытия – не менее 50 мм.
			p Такой тип приклейки мембраны обеспечивает надежную герметизацию поверхности.
		img.d(src="/assets/img/p01.jpg" width="435" height="266" loading="lazy")
	.box.rw.mb1
		.row
			.dsc
				p Сначала производится нанесение клея на основание (1) и приклеивание изоляционного полотна (2).
				p После этого на изоляционное полотно наносится второй слой клея (3), на который укладывается плитка (4)
				h3 Рекомендации
				p Для правильного приклеивания изоляционного полотна необходимо использовать тот тип и класс клея, который подходит для данного основания.
				p Как правило, в системе гидроизоляции это клеевые составы класса C2ТЕ S1/S2. Они обеспечивают надежное сцепление изоляционного полотна с основанием и долговечность всей системы гидроизоляции.
			img.d(src="/assets/img/r01.jpg" width="435" height="284" loading="lazy")
		.row
			.dsc
				h4 Формат одного рулона:
				ul
					li
						span Ширина
						span 1 метр
					li
						span Длина
						span 30 метров

			img.d(src="/assets/img/r02.jpg" width="435" height="332" loading="lazy")

