section#main
	.box.intro.mt1
		picture
			source(srcset="/assets/img/intro.avif" type="image/avif")
			img(src="/assets/img/intro.jpg" srcset="/assets/img/intro@2x.jpg 2x")
		.dsc
			h1 mint <font>barrier</font>
			h2 разделительная мембрана для плитки

			p Представляет собой тонкий слой материала, который <font>устанавливается между</font> облицовочной поверхностью и плиткой
			p <font>Актуальна</font> при укладке плитки <font>во влажных</font> помещениях

			button.order Заказать
	p.divider Mint barrier успешно решает следующие задачи: 
	.box.default
		.dsc
			h3 гидроизоляция
			h4 Предотвращает появление грибка, плесени, коррозии
			p При укладке плитки в помещениях с повышенной влажностью, таких как ванные комнаты, душевые кабины, сауны, бассейны, важно обеспечить надежную защиту от воды, чтобы избежать появления грибка, плесени, коррозии металлических элементов и т. д. Гидроизоляция помогает избежать этих проблем.
		.swiper
			.swiper-wrapper
				.swiper-slide
					img(src="/assets/img/g01.jpg")
			.swiper-pagination
