section#main
	.box.intro.mt1.mb1
		picture
			source(srcset="/assets/img/intro.avif" type="image/avif")
			img.intro(src="/assets/img/intro.jpg" srcset="/assets/img/intro@2x.jpg 2x")
		.tiles(style="display: none")
			img(src="/assets/img/i1.jpg" width="111" height="111")
			img(src="/assets/img/i2.jpg" width="111" height="111")
			img(src="/assets/img/i3.jpg" width="111" height="111")
		.dsc
			h1 контакты
			ul.i.mt1
				li
					img(src="/assets/img/icons/map.svg" width="23" height="22")
					span Республика Беларусь, г. Минск
				li
					img(src="/assets/img/icons/envelope.svg" width="23" height="16")
					span <b>e-mail:</b> mintbarrier@gmail.com
	